ul {
	padding: 0;
}
a {
	text-decoration: none !important;
	color: currentColor !important;
}
.App {
	text-align: center;
	height: 9vh;
}
@media only screen and(max-width: 450px) {
	.navbar-logo {
		display: none;
	}
}
.navbar-words {
	font-size: 15px;
}
.roundPhoto {
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.navbar-rightSide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
	padding-top: 12px;
	height: 80px;
}
.navbar-list {
	padding: 0 15px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

//Sidebar

.sidebar {
	height: 91vh;
	text-align: center;
	width: 115px;
	position: fixed;
	top: 90px;
	left: 0;
	padding-top: 10px;
}
.dot {
	.zxc {
		margin-left: 4px;
		border-right: 4px solid #903087;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.test {
		border-radius: 50%;
		background-color:#903087;
		i {
			color: white
		}
	}
}
.test {
	height: 43px;
	margin: auto;
	width: 50px;
	transition: 0.3s all ease-in-out
}
.sidebar-i {
	padding-top: 7px;
}
.zxc {
	padding-top: 10px;
}
.sidebarList {
	padding: 10px 0 0;
	text-decoration: none !important;
	color: currentColor !important;
	margin-top: 20px;
	&:hover {
		.test {
			border-radius: 50%;
			background-color:#903087;
			// background-color: #7BD0FB;
			i {
				color: white
			}
		}
	}
}
sidebar-name {
	padding-top: 1px;
}
.sidebarPadding {
	padding: 0 0 0 0 !important;
}
.mainDescription {
	max-width: calc(100% - 115px);
	height: 91vh;
	margin-left: 115px;
	background-color: #f3f3f3;
	position: fixed;
	left: 0;
	top: 80px;
	width: 100%;
}

// LOGIN
.backgroundLogin {
	background-color: #f5f5f5;
	height: 100%;
}
.login {
	max-width: 300px;
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 120px;
	// text-align: center;
	h1 {
		padding-bottom: 10px;
		font-weight: 400 !important;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
	}
	input {
		padding: 10px;
	}
	input[type=email] {
		margin-bottom: -1px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	input[type=password] {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
.form-group {
	.form-control {
		padding: 20px 0px 20px 5px
	}
	width: 80%;
}

.loginLogo {
	margin-left: 220px;
	margin-bottom: -60px;
}
.btn-primary {
	background-color: #007bff !important;
	border-bottom-color:  #007bff !important;
	// border-color: #007bff !important;
}