ul {
  padding: 0
}

a {
  text-decoration: none !important;
  color: currentColor !important;
}
.App {
  text-align: center;
  height: 9vh;
}

.navbar-words {
  font-size: 15px
}

.roundPhoto{
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navbar-rightSide {
  display: flex;
  justify-content: flex-end;
  height: 80px;
}

.navbar-list {
  padding: 0 15px 0px 0px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.sidebarCSS {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar {
  height: 91vh;
  text-align: center;
  width: 115px;
  position: absolute;
  /* background: grey !important; */
}

.sidebarList {
  padding: 15px;
  text-decoration: none !important;
  color: currentColor !important;

}

.sidebarPadding {
  padding: 0 0 0 0 !important;
  /* max-width: 100px !important; */
}

.mainDescription {
  max-width: calc(100% - 115px);
  height: 91vh;
  margin-left: 115px;
  background-color: rgb(212, 206, 206);
}