ul {
	padding: 0;
}
a {
	text-decoration: none !important;
	color: currentColor !important;
}
.App {
	text-align: center;
	height: 9vh;
}
@media only screen and(max-width: 450px) {
	.navbar-logo {
		display: none;
	}
}
.navbar-words {
	font-size: 15px;
}
.roundPhoto {
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.navbar-rightSide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
	padding-top: 12px;
	height: 80px;
}
.navbar-list {
	padding: 0 30px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-logout {
	display: flex;
	justify-content: center;
	align-items: center;
	i {
		padding-bottom: 15px
	}
}

//Loader
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 0px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

//Sidebar
.sidebar {
	height: 91vh;
	text-align: center;
	width: 115px;
	position: fixed;
	top: 90px;
	left: 0;
	padding-top: 10px;
}
.dot {
	.zxc {
		margin-left: 4px;
		// border-right: 4px solid #903087;
		border-right: 4px solid #7BD0FB;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.test {
		border-radius: 50%;
		// background-color:#903087;
		background-color: #7BD0FB;
		i {
			color: white
		}
	}
}
.test {
	height: 43px;
	margin: auto;
	width: 50px;
	transition: 0.3s all ease-in-out
}
.sidebar-i {
	padding-top: 7px;
}
.zxc {
	padding-top: 10px;
}
.sidebarList {
	padding: 10px 0 0;
	text-decoration: none !important;
	color: currentColor !important;
	margin-top: 20px;
	&:hover {
		.test {
			border-radius: 50%;
			// background-color:#903087;
			background-color: #7BD0FB;
			i {
				color: white
			}
		}
	}
}
sidebar-name {
	padding-top: 1px;
}
.sidebarPadding {
	padding: 0 0 0 0 !important;
}
.mainDescription {
	max-width: calc(100% - 115px);
	height: 91vh;
	margin-left: 115px;
	background-color: #f3f3f3;
	position: fixed;
	left: 0;
	top: 80px;
	width: 100%;
}

// LOGIN
.backgroundLogin {
	background-color: #f5f5f5;
	height: 100%;
}
.login {
	max-width: 300px;
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 120px;
	h1 {
		padding-bottom: 10px;
		font-weight: 400 !important;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
	}
	input {
		padding: 10px;
	}
	input[type=email] {
		margin-bottom: -1px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	input[type=password] {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
.form-group {
	padding-bottom: 10px;
	.form-control {
		padding: 20px 0px 20px 5px
	}
	width: 80%;
}

//LOGIN

.login-preloader {
	margin-left: -35px;
	margin-top: -55px !important;
}
.loginLogo {
	margin-left: 220px;
	margin-bottom: -60px;
}
.btn-primary {
	background-color: #007bff !important;
	border-bottom-color:  #007bff !important;
}
.credentials {
	margin-top: -24px;
    color: red;
    margin-bottom: 0px;
}

//USERS

.card {
	margin: 50px 30px 0px 30px
}
.table {
	margin-bottom: 0px !important
}