.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-words {
  font-size: 15px
}

.roundPhoto{
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navbar-rightSide {
  display: flex;
  justify-content: flex-end;
}

.navbar-list {
  padding: 0 15px 0px 0px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.sidebarPadding {
  padding: 0 0 0 0 !important;
  /* max-width: 100px !important; */
}
.sidebarWidth {
  max-width: 130px;
}