.App {
  text-align: center;
  height: 10vh;
}

.navbar-words {
  font-size: 15px
}

.roundPhoto{
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navbar-rightSide {
  display: flex;
  justify-content: flex-end;
}

.navbar-list {
  padding: 0 15px 0px 0px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.sidebarLi {
  height: 90vh
}

.sidebarPadding {
  padding: 0 0 0 0 !important;
  /* max-width: 100px !important; */
}
.sidebarWidth {
  width: 115px;
  position: absolute;
}

.sidebarDescription {
  max-width: calc(100% - 130px);
  margin-left: 115px;
  background-color: rgb(212, 206, 206);
}